<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div>
        <div class="header">
            <h1>MY STORE</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/">Users</a></li>
                <li><a href="/">Login</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
    
    <div><%- body %></div>
    
    <div class="footer">&COPY; 2026.ALL RIGHTS ARE RESERVED.</div>
    </div>
</body>
</html>